Repository nextcord/nextcord, pull requests merged in 2021-09, with the labels that each got.

#144 Removing duplicate version notice in migrating_2.rst
  docs/migrating_2.rst
Labels: t: docs, p: low, s: awaiting review

#161 Typo fix and small addition in the comments
  examples/secure_token_storage.py
Labels: p: medium, t: meta, s: awaiting review

#182 Changes option discord from `View Documentation For`
  docs/_templates/layout.html
  docs/index.rst
Labels: t: docs, s: awaiting review
